.app {
  font-family: "Montserrat", sans-serif;
}

.header {
  font-size: 48px;
  padding: 30px;
  border-bottom: 1px solid lightgrey;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.body {
  padding: 30px;
}

.bold {
  font-weight: bold;
}

.buttonOn,
.buttonOff,
.launch {
  border: none;
  /* background-color: inherit;
  border-radius: 6px; */
}

.buttonOn,
.buttonOff {
  padding: 10px 20px;
  font-size: 16px;
}

.buttonOn {
  border: 1px solid lightgrey;
  color: #5c48d3;
}

.buttonOff {
  background-color: #5c48d3;
  color: white;
}

.btl {
  margin-right: 30px;
}

.switch {
  margin-top: 20px;
}

.launch {
  font-weight: bold;
  margin: 20px;
}
